<!-- navigation bar -->
<nav>
    <a href="/">Home</a>
    |
    <a href="books.hbs">Books</a>
    |
    <a href="users.hbs">Users</a>
    |
    <a href="orders.hbs">Orders</a>
    |
    <a href="reviews.hbs">Reviews</a>
    |    
    <a href="orders_has_books.hbs">Orders has Books</a>
</nav>

<header>
    <h1>Books</h1>
</header>

{{!-- Create a table --}}
<table id="books_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr id="books-header">
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.bookID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.author}}</td>
            <td>{{this.genre}}</td>
            <td>{{this.price}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>

<h2>Add Book</h2>
<form id="add-book">
    <!-- text input for title -->
    <label for="add-title">Title:</label>
    <br>
    <input type="text" id="add-title" name="add-title">
    <br><br>

    <!-- text input for author -->
    <label for="add-author">Author:</label>
    <br>
    <input type="text" id="add-author" name="add-author">
    <br><br>
    
    <!-- text input for genre -->
    <label for="add-genre">Genre:</label>
    <br>
    <input type="text" id="add-genre" name="add-genre">
    <br><br>

    <!-- text input for price -->
    <label for="add-price">Price:</label>
    <br>
    <input type="number" step="any" id="add-price" name="add-price">

    <br><br><br>

    <input type="submit">
    <br>
</form>
<script src="./js/add_books.js"></script>

<br>                

<h2>Search for a Book</h2>
<form id="search-for-book">
    <!-- drop down list to search for a book -->
    <label for="title">Title:</label>
    <br>
    <!-- <input type="text" id="title" name="title">
    <br><br> -->
    {{!-- <select name="books" id="books">
        <option value="The Handmaid's Tale">The Handmaid's Tale</option>
        <option value="The Bitcoin Standard">The Bitcoin Standard</option>
        <option value="The Price of Tomorrow">The Price of Tomorrow</option>
        <option value="Permanent Record">Permanent Record</option>
    </select> --}}
    <select id="searchBook" name="searchBook">
        <option value="Select a Book Title">Select a Book Title</option>
        {{#each data}}
        <option value="{{this.title}}">{{this.title}}</option>
        {{/each}}
    </select>

    <br><br><br>

    <input type="submit">
    <br>                
</form>
<script src="./js/get_books.js"></script>

<br><br>