<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- navigation bar -->
<nav>
    <a href="/">Home</a>
    |
    <a href="books.hbs">Books</a>
    |
    <a href="users.hbs">Users</a>
    |
    <a href="orders.hbs">Orders</a>
    |
    <a href="reviews.hbs">Reviews</a>
    |    
    <a href="orders_has_books.hbs">Orders has Books</a>
</nav>

<header>
    <h1>Orders</h1>
</header>

{{!-- Create a table --}}
<table id="orders_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr id="orders-header">
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.orderID}}>
            <td>{{this.orderID}}</td>
            <td>{{this.userID}}</td>
            {{!-- <td>{{this.customerName}}</td> --}}
            <td>{{this.addressLine1}}</td>
            <td>{{this.addressLine2}}</td>
            <td>{{this.city}}</td>
            <td>{{this.state}}</td>
            <td>{{this.postalCode}}</td>
            <td>{{this.orderDate}}</td>
            <td>{{this.orderStatus}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.totalDue}}</td>
            <td>{{this.paymentMethod}}</td>
            <td><button onclick="deleteOrder({{this.orderID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_order.js"></script>

<br>

<h2>Add Order</h2>
<form id="add-order">
    <label for="userID">userID:</label>
    <br>
    {{!-- <input type="number" id="userID" name="userID"> --}}
    <select id="userID" name="userID">
        <option value="">Select a UserID</option>
        {{#each data}}
        <option value="{{this.userID}}">{{this.userID}}</option>
        {{/each}}
    </select>
    <br><br>

    {{!-- <label for="customerName">Customer Name:</label>
    <br> --}}
    {{!-- <input type="text" id="customerName" name="customerName"> --}}
    {{!-- <select id="customerName" name="customerName">
        <option value="">Select a Customer</option>
        {{#each data}}
        <option value="{{this.customerName}}">{{this.customerName}}</option>
        {{/each}}
    </select>
    <br><br> --}}

    <label for="addressLine1">Address Line 1:</label>
    <br>
    <input type="text" id="addressLine1" name="addressLine1">
    <br><br>

    <label for="addressLine2">Address Line 2:</label>
    <br>
    <input type="text" id="addressLine2" name="addressLine2">
    <br><br>

    <label for="city">City:</label>
    <br>
    <input type="text" id="city" name="city">
    <br><br>

    <label for="state">State:</label>
    <br>
    <input type="text" id="state" name="state">
    <br><br>
    
    <label for="postalCode">Postal Code:</label>
    <br>
    <input type="text" id="postalCode" name="postalCode">
    <br><br>

    <label for="orderDate">Order Date:</label>
    <br>
    <input type="date" id="orderDate" name="orderDate">
    <br><br>

    <label for="orderStatus">Order Status:</label>
    <br>
    {{!-- <input disabled="disabled" id="orderStatus" value="Pending"> --}}
    <select id="orderStatus" name="orderStatus">
        <option value="Pending">Pending</option>
        <option value="Completed">Completed</option>
        <option value="Cancelled">Cancelled</option>
    </select>
    <br><br>

    <label for="quantity">Quantity:</label>
    <br>
    <input type="number" id="quantity" name="quantity">
    <br><br>

    <label for="totalDue">Total Due:</label>
    <br>
    <input type="number" step="any" id="totalDue" name="totalDue">
    <br><br>

    <label for="paymentMethod">Payment Method:</label>
    <br>
    <input type="text" id="paymentMethod" name="paymentMethod">
    <br><br>

    <input type="submit" value="Submit">
    <br>
</form>
<script src="./js/add_orders.js"></script>

{{!-- <br>

<h2>Delete Order</h2>
<form id="cancel-order">
    <label for="orderID">orderID:</label>
    <br>
    <input type="number" id="orderID" name="orderID">
    <select id="orderID" name="orderID">
        <option value="">Select an orderID</option>
        {{#each data}}
        <option value="{{this.orderID}}">{{this.orderID}}</option>
        {{/each}}
    </select>
    <br><br><br>

    <input type="submit" value="Submit">
    <br>
</form> --}}

<br><br>